# 01_envar.config
option_settings:
  aws:elasticbeanstalk:application:environment:
    PORT: 8080
    NODE_ENV: production
    SECRET_KEY: "ksjnvksjnvoi4924319wjnv"
    MONGO_URL: "mongodb://Armando:1Vnarmando@ds219055.mlab.com:19055/stationary"
    CLOUDINARY_NAME: dvpueln2f
    CLOUDINARY_API_KEY: 559526916488486
    CLOUDINARY_SECRET_KEY: EnsR9_vzZZtm4xOqblNFiTd2RQ8-R4qK09V4