option_settings:
    aws:awslasticbeanstalk:application:enviroment:
        PORT: 8080
        NODE_ENV: production
        SECRET_KEY: "ksjnvksjnvoi4924319wjnv"
        MONGO_URL: "MongoLab Database"
        CLOUDINARY_NAME: dvpueln2f
        CLOUDINARY_API_KEY: 559526916488486
        CLOUDINARY_SECRET_KEY: EnsR9_vzZZtm4xOqblNFiTd2RQ8